*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#281c3e,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 90%;
	max-width: 1350px;
    height: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    padding:20px 8%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: rgb(11, 11, 56) ;
    height: 65px;
    
}

nav .logo{
    
    width:180px;
    height: 100px;
}

nav ul{
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    padding: 7px 13px;
    border-radius: 3px;
    
    
}
/* nav ul li a:hover{
   color:rgb(244, 244, 244);
} */
a.active, a:hover{
    background: #6260b4;
    transition: .5s;
}
.center h1{
	margin-top:auto important;
	color: #fff;
	font-size: 3rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;

}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.about{
    margin: 20px 0;
    font-weight: lighter;
    color: antiquewhite;

}
.box img{
    width: 200px;
    height: 200px;
    clip-path: circle();
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}